

body{
    background-color: #141414;
   
}




.vid1{
    position: relative;
    top: 90px;
    left: 50px;
    outline: 0;
    box-shadow:#2c3e50 10px 10px 10px;
    border-radius: 15px;
    z-index: 0;
    width : 1000px;
     height :500px;
}





       
         /*slider css*/
.slider{
    position: relative;
    width: 80%;
    height: 100px;
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
    box-shadow:#2c3e50 10px 10px 10px;

}

.slides{
    width: 200px;
    display: flex;
}

.slide{
    width: 1200%;
    transition: 0.6s;
}

.btnLeft, .btnRight{
    position: absolute;
    width: 80px;
    height: 100px;
    top: 0;
    font-size: 50px;
    line-height: 100px  !important;
    text-align: center;
    cursor: pointer;
    color: yellow;
    transition: 0.3s;
}

.btnLeft:hover, .btnRight:hover{
    background: #000000b3;
}

.btnLeft{
    left: 0;

}

.btnRight{
    right: 0;
}


.slide img{
    width: 275px;
    height: 100px;
    
}


.UR{
    position: relative;
    color: white;
    font-size: 2.5em;
    left: 10px;
    font-style: italic;
    
}

                                     /*footer*/


.contacts{
    position: relative;
    top: 10px;
    
    display: inline;
}

.contacts p{
    color: #00D6D6;
    font-size: 1.2em;
    font-family: sans-serif;
    font-style: italic;
    padding: 10px;
}

.contacts i{
    color: black;
    margin-right: 5px;
    font-size: 1.6em;
}





.btn2{
    position: absolute;
    left: 80%;
    top: 610px;
    width: 60px;
    background: #002A32;
    color: #00D6D6;
    border-radius: 40px;
    padding: 15PX;
    text-align: center;
    font-size: 1.4em;
    cursor: pointer;
    outline: none;
    border: 1.5px solid white;
    overflow: hidden;
}

.btn2:hover{
    color: yellow;
    
}

.btn3{
    position: absolute;
    left: 85%;
    top: 610px;
    width: 60px;
    background: #002A32;
    color: #00D6D6;
    border-radius: 40px;
    padding: 15PX;
    text-align: center;
    font-size: 1.4em;
    cursor: pointer;
    
    outline: none;
    overflow: hidden;

}


.btn3:hover{
    color: yellow;
    
}




  
   







                                      /*description*/


.profile{
    position: absolute;
	left: 75%;
    top: 150px;
	font-size: 2.3em;
	overflow: hidden;


	}




.profile2 a{
    color: #00D6D6;
    
}

.profile2 :active{
    color: yellow;
}






.signinlist{
	background :#002A32;
	box-shadow: 2px 2px 2px black;
	border-radius: 20px;
	padding: 15px;
    width: 300px;
    height: 10vh;	
	text-align:  center;
	height: 50vh;
	opacity: 0;
	transition:all  0.3s ease;
	pointer-events: none;
	transform: translateY(-10px);
	list-style: none;

}






.profile li{
    font-size: 0.6em;
    color: #00D6D6;
    font-style: italic;
}










.btn4:focus + li{
	opacity: 1;
	pointer-events: all;
	transform: translatey(0px);



}




.textarea{
    display: none;
    background: #002A32;
    color: #00D6D6;
    width: 60%;
    height: 20vh;
    outline: none;
    font-size: 17px;
}

   

@media (max-width: 758px) {
    .vid1{
        width: 600px;
        height: 400px;
    }

    .textarea{
        display: block;
        border: none;
    }

    .profile{
        display: none;
    }

    .btn2{
        display: none;
    }

    .btn3{
        display: none;
    }


}

